set show-all-if-ambiguous on
set show-all-if-unmodified on

set completion-ignore-case on
set completion-prefix-display-length 2

# configures gnu readline library to use vim bindings instead of emacs
# zsh doesn't use readline but bash does
set editing-mode vi

